<footer class="footer">
  <div class="container">
    <br>
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-1">
        <LinkTo @route="authenticated.perfil">Editar</LinkTo>
      </div>
      <div class="col-md-1">
        <LinkTo @route="authenticated.list">Todos</LinkTo>
      </div>
      <div class="col-md-1">
        <LinkTo @route="authenticated.horario">Horario</LinkTo>
      </div>
      <div class="col-md-1">
        <LinkTo @route="authenticated.horario.editarFeriado">Feriados</LinkTo>
      </div>
      <hr>
      <div class="col-md-4">

      </div>
      <div class="col-md-4">
        <p class="text-center">&copy; 2024 Jéssica</p>
      </div>
    </div>

  </div>
</footer>